.header {
  display: flex;
  width: 100vw;
  background-color: transparent;
  background: none;
  padding: 7px 20px;
  z-index: 100;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  left: 0;
  margin: 0;
  font-size: 15px;
}

.header_logo {
  height: 24px;
  width: 100px;
  margin-top: 7px;
}

.header__center {
  flex: 1;
  display: flex;
  background-color: transparent;
  background: transparent;
  justify-content: center;
}

.header__center > p {
  margin: 10px;
  text-transform: uppercase;
}

.header__right {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
}

.header__right > p {
  margin: 10px;
}

.header__links {
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px;
  color: inherit;
}
