.button {
  background-color: rgba(23, 26, 32, 0);
  background-color: black;
  height: 40px;
  width: 256px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  opacity: 0.85;

  & > a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    text-align: center;
  }

  &__white {
    background-color: white;
    opacity: 0.65;
  }
  &__white > a {
    color: black;
  }
}
