.header {
  display: flex;
  background-color: transparent;
  background: none;
  top: 0;
  padding: 10px;
  z-index: 100;
  position: fixed;
  top: 0;
}

.header_logo {
  height: 24px;
  width: 100px;
  margin-top: 7px;
}

.header__center {
  flex: 1;
  display: flex;
  background-color: transparent;
  background: transparent;
  justify-content: center;
}

.header__center > p {
  margin: 10px;
  text-transform: uppercase;
}

.header__right {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
}

.header__right > p {
  margin: 10px;
}
